@page
@model CerasWorkshop.Pages_Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ProductOrders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ProductOrders.FirstOrDefault().Product.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @foreach (var product in item.ProductOrders!)
                {
                    @product.Product.Name <br />
                }
                @if (item.ProductOrders.Count == 0)
                {
                    @:No Products
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
